services:
  mqtt:
    image: eclipse-mosquitto:2
    command: mosquitto -c /mosquitto-no-auth.conf
    restart: unless-stopped
    ports:
      - 1883:1883
  homeassistant:
    container_name: homeassistant
    image: "ghcr.io/home-assistant/home-assistant:stable"
    volumes:
      - /mnt/ssd/docker-configs/homeassistant/config:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
    restart: unless-stopped
    privileged: true
    network_mode: host